<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${id}?'Edit':'Add'"></title>
</head>
<body>
    <h1 th:text="${id}?'Edit user:':'Add user:'"></h1>
    <form th:action="${id}?'/admin/edit':'/admin/add'" method="POST">
        <input th:value="${id}" type="hidden" name="id">
        <label for="login">login</label>
        <input type="text" name="login" id="login">
        <label for="password">password</label>
        <input type="text" name="password" id="password">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <label for="role">role</label>
        <input type="text" name="role" id="role">
        <input th:value="${id}?'edit':'add'" type="submit">
    </form>
</body>
</html>