<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>
<h3>Enter user login and password:</h3>
<p th:if="${#request.getParameter('error') == 'true'}" >Login Failed!!!</p>
<form th:action="@{/login}" method='POST'>
    <table>
        <tr>
            <td align="right"><label for="username">Login:</label></td>
            <td align="right"><input type="text" name="username" id="username" required></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password" id="password" required></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>